div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }
  h1,h2{
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #64656577; /* Green Grey*/
    float: left;
    width: 100%;
    border-radius: 5%;
    height: 40pt;
    align-content: center;
    justify-content: center;

  }
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #64656577; /* Green Grey*/
    float: left;
    width: 100%;
    border-radius: 5%;
    height: 40pt;
    align-content: center;
    justify-content: center;

  }

  .button {
    transition-duration: 0.4s;
  }
  
  .button1:hover {
    background-color: #64656577; /* Green */
    color: white;
  }
  .button2:hover {
    background-color: #64656577; /* Green */
    color: white;
  }
  
   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 5px;
}



/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Set for three things in a row */

.column2 {
  float: left;
  width: 28%;
  padding: 5px;
}



/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

/* Set for four things in a row */

.column4 {
  float: left;
  width: 21%;
  padding: 4%;
}



/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
